{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}


<h1>Login...</h1>

<br><br>

<div class="form-control">
    <form action="" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Username" name = "username">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password" name = "password">
        </div>
        <br>
        <!-- {{ form.as_p }} -->
        <button class="btn btn-secondary">Login</button>

        <br>

        Not Registered? Sign Up <a href="{% url 'register' %}">Here...</a>

    </form>
</div>


{% endblock %}